header{
    display: flex;
}
h2{
    display: inline-block;
    font-size:xx-large;
    margin-top: 0.1px;
}
span{
    color: red;
}
nav{
    /* display: inline-block; */
    text-align:right;
    text-decoration: none;
    margin-left: 40%;
    margin-top: 2px;
    
}
 /* a:hover{
    border-radius: 20px;
    background-color:gray;
    font-size: x-large;
    color: black;
}  */
a{
    padding-left: 25px;
    text-decoration: none;
    color: white;
}
.big{
    margin-left: 20px;
}
body{
    background-image: url(../web.png);
    font-family: Arial, Helvetica, sans-serif;

}
h2{
    color: white;
}
p{
    color: white;
     text-align: justify;
     font-size:x-large;
     font-family: Arial, Helvetica, sans-serif;   }
button{
    background-color:orangered;
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
     margin-top: 10px;
     margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 2%;
    border: none;
    font-size: larger;
}
/* button:hover{
    background-color: sandybrown;
    color: black;
    font-size: xx-large;
} */






