
h2{
    display: inline-block;
    font-size:xx-large;
    color: white;
}
span{
    color:orangered;
}
nav{
    display: inline-block;
    text-align:right;
     margin-left: 40%;
    margin-top: 2px;
    
}
section{
    width: 50%;
}
a:hover{
    border-radius: 20px;
    color: tomato;
} 
a{
    padding-left: 25px;
    text-decoration: none;
    color:white;
}
body{
    background-image: url(../web.png);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;

}

p{
    color: white;
     
     font-size:x-large;
      }
#button{
    background-color:orangered;
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
     margin: 10px;
    width: 200px;
    border: none;
    font-size: larger;
    text-align: center;
}
#button:hover{
    background-color: sandybrown;
    color: black;
    font-size: xx-large;
}

#spacing{
    height: 100px;
}




